---
http_interactions:
- request:
    method: get
    uri: https://cashexplorer.bitcoin.com/api/addr/1STRonGxnFTeJiA7pgyneKknR29AwBM77/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9-vqcWfUNXGruWhl2Bzi5EEAKOaAM"
    body:
      encoding: UTF-8
      string: '187751754'
  recorded_at: Mon, 04 Dec 2017 11:15:20 GMT
- request:
    method: get
    uri: https://blockchain.info/address/1STRonGxnFTeJiA7pgyneKknR29AwBM77?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - tr45 1.444
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "hash160":"04d075b3f501deeef5565143282b6cfe8fad5e94",
            "address":"1STRonGxnFTeJiA7pgyneKknR29AwBM77",
            "n_tx":34596,
            "total_received":50564605825,
            "total_sent":50550234595,
            "final_balance":14371230,
            "txs":[]
        }
  recorded_at: Mon, 04 Dec 2017 11:15:21 GMT
recorded_with: VCR 3.0.3
