---
http_interactions:
- request:
    method: get
    uri: http://blockdozer.com/insight-api/addr/1STRonGxnFTeJiA7pgyneKknR29AwBM77/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7-2revbGqLFJCFzMNnre/+4zxbSYI"
    body:
      encoding: UTF-8
      string: '7097240'
  recorded_at: Tue, 08 Aug 2017 15:41:12 GMT
- request:
    method: get
    uri: https://blockchain.info/address/1STRonGxnFTeJiA7pgyneKknR29AwBM77?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - w5d8 0.294
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "hash160":"04d075b3f501deeef5565143282b6cfe8fad5e94",
            "address":"1STRonGxnFTeJiA7pgyneKknR29AwBM77",
            "n_tx":33572,
            "total_received":50099748000,
            "total_sent":50048824822,
            "final_balance":50923178,
            "txs":[]
        }
  recorded_at: Tue, 08 Aug 2017 15:41:12 GMT
recorded_with: VCR 3.0.3
