---
http_interactions:
- request:
    method: get
    uri: http://cashexplorer.bitcoin.com/insight-api/addr/1STRonGxnFTeJiA7pgyneKknR29AwBM77/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://cashexplorer.bitcoin.com/insight-api/addr/1STRonGxnFTeJiA7pgyneKknR29AwBM77/balance
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.10.3
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 27 Nov 2017 07:09:58 GMT
- request:
    method: get
    uri: https://blockchain.info/address/1STRonGxnFTeJiA7pgyneKknR29AwBM77?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - tr45 0.016
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "hash160":"04d075b3f501deeef5565143282b6cfe8fad5e94",
            "address":"1STRonGxnFTeJiA7pgyneKknR29AwBM77",
            "n_tx":34509,
            "total_received":50535679485,
            "total_sent":50367312605,
            "final_balance":168366880,
            "txs":[]
        }
  recorded_at: Mon, 27 Nov 2017 07:09:58 GMT
recorded_with: VCR 3.0.3
