---
http_interactions:
- request:
    method: get
    uri: https://etherchain.org/api/account/0x4b1306936CFFAF74dC3132f4749E2EA6BE8a1C53
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      Etag:
      - W/"c7-fzAuSF8ckttoXm6brsS1XSUAt7Q"
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":[{"address":"0x4b1306936cffaf74dc3132f4749e2ea6be8a1c53","balance":1101412222557959800,"nonce":null,"code":"0x","name":null,"storage":null,"firstSeen":"2016-05-13T09:42:27.000Z"}]}'
  recorded_at: Tue, 05 Sep 2017 08:05:42 GMT
recorded_with: VCR 3.0.3
