---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/multiaddr?active=1JCLW7cvVv2aHvcCUc4284unoaKXciftzW%7C&simple=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - w5d8 0.010
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: '{"1JCLW7cvVv2aHvcCUc4284unoaKXciftzW":{"final_balance":600000,"n_tx":6,"total_received":1600000}}'
  recorded_at: Tue, 08 Aug 2017 15:41:25 GMT
- request:
    method: get
    uri: http://btc.blockr.io/api/v1/address/balance/1JCLW7cvVv2aHvcCUc4284unoaKXciftzW,
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":[{"address":"1JCLW7cvVv2aHvcCUc4284unoaKXciftzW","balance":0.006,"balance_multisig":0},{"address":"","balance":0,"balance_multisig":0}],"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:41:25 GMT
recorded_with: VCR 3.0.3
