---
http_interactions:
- request:
    method: get
    uri: https://etherchain.org/api/account/0x58382493d401d91af0c6a375af9e949d6e106448
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      Etag:
      - W/"c5-/bryOorR+lA4H3RcDj16Aq8JaXw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":[{"address":"0x58382493d401d91af0c6a375af9e949d6e106448","balance":12696260000000000,"nonce":null,"code":"0x","name":null,"storage":null,"firstSeen":"2017-09-06T15:08:44.000Z"}]}'
  recorded_at: Tue, 12 Sep 2017 06:29:04 GMT
recorded_with: VCR 3.0.3
