---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/multiaddr?active=1JCLW7cvVv2aHvcCUc4284unoaKXciftzW&simple=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - sdl4 0.021
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: '{"1JCLW7cvVv2aHvcCUc4284unoaKXciftzW":{"final_balance":600000,"n_tx":6,"total_received":1600000}}'
  recorded_at: Tue, 08 Aug 2017 15:41:27 GMT
- request:
    method: get
    uri: https://blockchain.info/multiaddr?active=1FGrkPhVAxBxKM8PJHjW4Z4qLSdNoK3PWr&simple=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - sdl4 0.005
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: UTF-8
      string: A security issue effects address 1FGrkPhVAxBxKM8PJHjW4Z4qLSdNoK3PWr.
        Please Archive It and Contact support@blockchain.zendesk.com
  recorded_at: Tue, 08 Aug 2017 15:41:27 GMT
[...]
- request:
    method: get
    uri: http://btc.blockr.io/api/v1/address/balance/1FGrkPhVAxBxKM8PJHjW4Z4qLSdNoK3PWr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"1FGrkPhVAxBxKM8PJHjW4Z4qLSdNoK3PWr","balance":0,"balance_multisig":0},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:41:27 GMT
recorded_with: VCR 3.0.3
