---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/zclassic/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"zclassic\", \n        \"name\": \"ZClassic\",
        \n        \"symbol\": \"ZCL\", \n        \"rank\": \"273\", \n        \"price_usd\":
        \"1.50836\", \n        \"price_btc\": \"0.00044325\", \n        \"24h_volume_usd\":
        \"126788.0\", \n        \"market_cap_usd\": \"2729830.0\", \n        \"available_supply\":
        \"1809800.0\", \n        \"total_supply\": \"1809800.0\", \n        \"percent_change_1h\":
        \"-0.85\", \n        \"percent_change_24h\": \"5.83\", \n        \"percent_change_7d\":
        \"32.4\", \n        \"last_updated\": \"1502356154\"\n    }\n]"
  recorded_at: Thu, 10 Aug 2017 09:12:16 GMT
recorded_with: VCR 3.0.3
