---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/unspent?active=34rNLSmvXiHqQAGJfAeGF7bxoYj8KYfLvU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - w5d8 0.009
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: "\n\n{\n    \n    \"unspent_outputs\":[\n    \n        {\n            \"tx_hash\":\"9fd77c01b4f81f142e7e066eb9abeb4952ec5fdea51036acbb22b5ffeb57fd5f\",\n
        \           \"tx_hash_big_endian\":\"5ffd57ebffb522bbac3610a5de5fec5249ebabb96e067e2e141ff8b4017cd79f\",\n
        \           \"tx_index\":69301266,\n            \"tx_output_n\": 1,\n            \"script\":\"a91422ad290099b84bde8e6f00a8a87fffdbbddddc2b87\",\n
        \           \"value\": 1366,\n            \"value_hex\": \"0556\",\n            \"confirmations\":149938\n
        \       }\n      \n    ]\n}\n"
  recorded_at: Thu, 10 Aug 2017 09:12:33 GMT
- request:
    method: get
    uri: https://blockchain.info/unspent?active=3G1ree5JH9ekFrWEwMaZUDHauEKpWeX2We
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - vkdg 0.015
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: "\n\n{\n    \n    \"unspent_outputs\":[\n    \n        {\n            \"tx_hash\":\"c0161c6d62ac75f36bf95fcb2a8222f2274e86c2dcaec3434a0b6b6e0a6b6080\",\n
        \           \"tx_hash_big_endian\":\"80606b0a6e6b0b4a43c3aedcc2864e27f222822acb5ff96bf375ac626d1c16c0\",\n
        \           \"tx_index\":67428847,\n            \"tx_output_n\": 0,\n            \"script\":\"a9149d21ec2b1b1ae225407f4a363b5dec63a727c04b87\",\n
        \           \"value\": 10000,\n            \"value_hex\": \"2710\",\n            \"confirmations\":153286\n
        \       }\n      \n    ]\n}\n"
  recorded_at: Thu, 10 Aug 2017 09:12:33 GMT
recorded_with: VCR 3.0.3
