---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/unspent?active=1JCLW7cvVv2aHvcCUc4284unoaKXciftzW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - w5d8 0.009
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: "\n\n{\n    \n    \"unspent_outputs\":[\n    \n        {\n            \"tx_hash\":\"75fe229c43fa1a89412e793bb0048e8cd72cc377c462ae2c4e953811b950f794\",\n
        \           \"tx_hash_big_endian\":\"94f750b91138954e2cae62c477c32cd78c8e04b03b792e41891afa439c22fe75\",\n
        \           \"tx_index\":194384761,\n            \"tx_output_n\": 2,\n            \"script\":\"76a914bc9efe4aa8d545bb0bf6c4587eca592c101d941788ac\",\n
        \           \"value\": 100000,\n            \"value_hex\": \"0186a0\",\n            \"confirmations\":38668\n
        \       },\n      \n        {\n            \"tx_hash\":\"0afe22c61aa6ad6b066245ae4fca4f1e2f083e61b3d1c58d17ac3173e9ce7b4b\",\n
        \           \"tx_hash_big_endian\":\"4b7bcee97331ac178dc5d1b3613e082f1e4fca4fae4562066bada61ac622fe0a\",\n
        \           \"tx_index\":194670695,\n            \"tx_output_n\": 0,\n            \"script\":\"76a914bc9efe4aa8d545bb0bf6c4587eca592c101d941788ac\",\n
        \           \"value\": 500000,\n            \"value_hex\": \"07a120\",\n            \"confirmations\":38523\n
        \       }\n      \n    ]\n}\n"
  recorded_at: Thu, 10 Aug 2017 09:11:59 GMT
[...]
