---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/zclassic/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"zclassic\", \n        \"name\": \"ZClassic\",
        \n        \"symbol\": \"ZCL\", \n        \"rank\": \"285\", \n        \"price_usd\":
        \"1.32988\", \n        \"price_btc\": \"0.0003914\", \n        \"24h_volume_usd\":
        \"80522.1\", \n        \"market_cap_usd\": \"2406817.0\", \n        \"available_supply\":
        \"1809800.0\", \n        \"total_supply\": \"1809800.0\", \n        \"percent_change_1h\":
        \"1.55\", \n        \"percent_change_24h\": \"-10.19\", \n        \"percent_change_7d\":
        \"14.22\", \n        \"last_updated\": \"1502206755\"\n    }\n]"
  recorded_at: Tue, 08 Aug 2017 15:41:28 GMT
recorded_with: VCR 3.0.3
