---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/unspent?active=1EscrowubAdwjYvRtpYLR2p6JRndNmjef3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - sdl4 0.009
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: "\n\n{\n    \n    \"unspent_outputs\":[\n    \n        {\n            \"tx_hash\":\"4ab2087938341169b03e8f6920682d4341490970a7fc70a531e81e9eb0a30a6b\",\n
        \           \"tx_hash_big_endian\":\"6b0aa3b09e1ee831a570fca770094941432d6820698f3eb0691134387908b24a\",\n
        \           \"tx_index\":22459898,\n            \"tx_output_n\": 0,\n            \"script\":\"76a914982c5ddef5bb0addf05e3c336004495d95446b0688ac\",\n
        \           \"value\": 1000000,\n            \"value_hex\": \"0f4240\",\n
        \           \"confirmations\":241085\n        },\n      \n        {\n            \"tx_hash\":\"a5e280c5954c6a28fb8994e7c357cdc4465451df0bd42a84083d592d38d40920\",\n
        \           \"tx_hash_big_endian\":\"2009d4382d593d08842ad40bdf515446c4cd57c3e79489fb286a4c95c580e2a5\",\n
        \           \"tx_index\":22460376,\n            \"tx_output_n\": 0,\n            \"script\":\"76a914982c5ddef5bb0addf05e3c336004495d95446b0688ac\",\n
        \           \"value\": 1000000,\n            \"value_hex\": \"0f4240\",\n
        \           \"confirmations\":241082\n        }\n      \n    ]\n}\n"
  recorded_at: Thu, 10 Aug 2017 09:10:43 GMT
[...]
