---
http_interactions:
- request:
    method: get
    uri: https://etherchain.org/api/account/0x4b1306936CFFAF74dC3132f4749E2EA6BE8a1C53
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      Etag:
      - W/"c3-Kq0+s7Nt/YJXVKC4Cl4Ekj+hknE"
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":[{"address":"0x4b1306936cffaf74dc3132f4749e2ea6be8a1c53","balance":605552557959792,"nonce":null,"code":"0x","name":null,"storage":null,"firstSeen":"2016-05-13T09:42:27.000Z"}]}'
  recorded_at: Tue, 05 Sep 2017 12:29:56 GMT
- request:
    method: get
    uri: https://etherchain.org/api/account/0x891f0139e4cb8afbf5847ba6260a4214c64c3658
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      Etag:
      - W/"16-vyO4kwGOc3q+TVRV9ghM1VQzdfo"
    body:
      encoding: UTF-8
      string: '{"status":1,"data":[]}'
  recorded_at: Tue, 05 Sep 2017 12:29:56 GMT
recorded_with: VCR 3.0.3
