---
http_interactions:
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/balance/myDsUrM5Sd7SjpnWXnQARyTriVAPfLQbt8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"myDsUrM5Sd7SjpnWXnQARyTriVAPfLQbt8","balance":0.216,"balance_multisig":0},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:41:42 GMT
recorded_with: VCR 3.0.3
