---
http_interactions:
- request:
    method: get
    uri: http://blockdozer.com/insight-api/addr/19W97njDjfQzEULoGLhr5cT5FS48ihVXWk/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10c-52bxrZgdt3dc2LnKnvinVm0VTDU"
    body:
      encoding: UTF-8
      string: '[{"address":"19W97njDjfQzEULoGLhr5cT5FS48ihVXWk","txid":"bbd87147dd701cff790697c54a4f50286dc7da18e02ff16cc0104cd6db25a2ea","vout":0,"scriptPubKey":"76a9145d43d84d26447d78a5f78ecb28e5a5d1b6c4927b88ac","amount":0.02,"satoshis":2000000,"height":484099,"confirmations":4}]'
  recorded_at: Tue, 29 Aug 2017 12:37:36 GMT
recorded_with: VCR 3.0.3
