---
http_interactions:
- request:
    method: get
    uri: http://blockdozer.com/insight-api/addr/1EscrowubAdwjYvRtpYLR2p6JRndNmjef3/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"221-IhzUzx7PAlGn1kw4WvVFldFNoX0"
    body:
      encoding: UTF-8
      string: '[{"address":"1EscrowubAdwjYvRtpYLR2p6JRndNmjef3","txid":"2009d4382d593d08842ad40bdf515446c4cd57c3e79489fb286a4c95c580e2a5","vout":0,"scriptPubKey":"76a914982c5ddef5bb0addf05e3c336004495d95446b0688ac","amount":0.01,"satoshis":1000000,"height":238838,"confirmations":245220},{"address":"1EscrowubAdwjYvRtpYLR2p6JRndNmjef3","txid":"6b0aa3b09e1ee831a570fca770094941432d6820698f3eb0691134387908b24a","vout":0,"scriptPubKey":"76a914982c5ddef5bb0addf05e3c336004495d95446b0688ac","amount":0.01,"satoshis":1000000,"height":238835,"confirmations":245223}]'
  recorded_at: Tue, 29 Aug 2017 06:44:33 GMT
recorded_with: VCR 3.0.3
