---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/address/1JCLW7cvVv2aHvcCUc4284unoaKXciftzW?format=json&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - w5d8 0.025
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "hash160":"bc9efe4aa8d545bb0bf6c4587eca592c101d9417",
            "address":"1JCLW7cvVv2aHvcCUc4284unoaKXciftzW",
            "n_tx":6,
            "total_received":1600000,
            "total_sent":1000000,
            "final_balance":600000,
            "txs":[

        {
           "ver":1,
           "inputs":[
              {
                 "sequence":4294967295,
                 "prev_out":{
                    "spent":true,
                    "tx_index":190069922,
                    "type":0,
                    "addr":"1JXYMviGfEvjYGP2ZGfDJku6EjnPPEgtr6",
                    "value":876829,
                    "n":1,
                    "script":"76a914c040cbbcdbf5cb6a06ffd800b51990381fa8b2df88ac"
                 },
                 "script":"47304402202372c26ad455872bbbbc857511ccef61f5c5287794f33712564d86757c8be94f02202c623b8031e832adc33232e606706f71e067a6a0ceeb8f00c7276e8cc1afbd690121026641de1acf6b5b72029989cc7795d88f9c8ccb2e6deb4142afe1354a00e02984"
              }
           ],
           "block_height":441397,
           "relayed_by":"0.0.0.0",
           "out":[
              {
                 "spent":false,
                 "tx_index":194670695,
                 "type":0,
                 "addr":"1JCLW7cvVv2aHvcCUc4284unoaKXciftzW",
                 "value":500000,
                 "n":0,
                 "script":"76a914bc9efe4aa8d545bb0bf6c4587eca592c101d941788ac"
              },
              {
                 "spent":true,
                 "tx_index":194670695,
                 "type":0,
                 "addr":"16Jzem9RCSpFniZR7apXgmWxz6G3iEyeAt",
                 "value":359860,
                 "n":1,
                 "script":"76a9143a3fd32fa1077b6107ea4e7252ead6a02d04eaad88ac"
              }
           ],
           "lock_time":0,
           "result":0,
           "size":225,
           "time":1480577644,
           "tx_index":194670695,
           "vin_sz":1,
           "hash":"4b7bcee97331ac178dc5d1b3613e082f1e4fca4fae4562066bada61ac622fe0a",
           "vout_sz":2
        },

        {
           "ver":1,
           "inputs":[
              {
                 "sequence":4294967295,
                 "prev_out":{
                    "spent":true,
                    "tx_index":66712313,
                    "type":0,
                    "addr":"1JCLW7cvVv2aHvcCUc4284unoaKXciftzW",
                    "value":10000,
                    "n":0,
                    "script":"76a914bc9efe4aa8d545bb0bf6c4587eca592c101d941788ac"
                 },
              [...]
