---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/address/1EscrowubAdwjYvRtpYLR2p6JRndNmjef3?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - sdl4 0.003
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "hash160":"982c5ddef5bb0addf05e3c336004495d95446b06",
            "address":"1EscrowubAdwjYvRtpYLR2p6JRndNmjef3",
            "n_tx":2,
            "total_received":2000000,
            "total_sent":0,
            "final_balance":2000000,
            "txs":[]
        }
  recorded_at: Tue, 08 Aug 2017 15:41:15 GMT
recorded_with: VCR 3.0.3
