---
http_interactions:
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2MxARaew1a1XbKKoEXzETaRqhJFvn3JYPBL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2MxARaew1a1XbKKoEXzETaRqhJFvn3JYPBL","unspent":[{"tx":"19aced60b72e136d6abf12836e7efbd5da2ac1281871d7a26fae5954c99286c6","amount":"0.00890000","n":1,"confirmations":290382,"script":"a91435f039e361b6dcc054b7dcfb8dcb9283a1c1636587"}]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:41:57 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2NC1CFifgXNJ7TbTW3bEARhn6UeaLf1wscT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2NC1CFifgXNJ7TbTW3bEARhn6UeaLf1wscT","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:03 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2N7U7CjdGSNbafWQw7pRUJMn2Tv5XW6rUdt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2N7U7CjdGSNbafWQw7pRUJMn2Tv5XW6rUdt","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:09 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2NDqwDbuBaVSJBVXJNhxp7BVbyobeLUSmmy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2NDqwDbuBaVSJBVXJNhxp7BVbyobeLUSmmy","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:17 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2MwfxrdanpPJRPTgsX5BM3DqDMR2k3e1yff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2MwfxrdanpPJRPTgsX5BM3DqDMR2k3e1yff","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:23 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2NDAaxHue77CtbnidT47PfMPE8cRuvkHTnK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2NDAaxHue77CtbnidT47PfMPE8cRuvkHTnK","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:26 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2NCsqGxriiYr2wLE1RjWpHzMAwo6HyDuahD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2NCsqGxriiYr2wLE1RjWpHzMAwo6HyDuahD","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:33 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2N9DhiSwpZe5h9ST2gHFf6ourMFFUMLAyU6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2N9DhiSwpZe5h9ST2gHFf6ourMFFUMLAyU6","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:42 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2MzFiohCKuKCybgxPjHWCTLWNkg9Je1dqjw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2MzFiohCKuKCybgxPjHWCTLWNkg9Je1dqjw","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:49 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2NAEFoup2hSW13r9XAxxwvRJMEU9bHTdLZT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2NAEFoup2hSW13r9XAxxwvRJMEU9bHTdLZT","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:42:59 GMT
- request:
    method: get
    uri: http://tbtc.blockr.io/api/v1/address/unspent/2MuRVP3kb6d6J81D52k7xKGjd5WjBsF8U8W
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","data":{"address":"2MuRVP3kb6d6J81D52k7xKGjd5WjBsF8U8W","unspent":[]},"code":200,"message":""}'
  recorded_at: Tue, 08 Aug 2017 15:43:06 GMT
recorded_with: VCR 3.0.3
