---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/zclassic/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"zclassic\", \n        \"name\": \"ZClassic\",
        \n        \"symbol\": \"ZCL\", \n        \"rank\": \"262\", \n        \"price_usd\":
        \"2.97487\", \n        \"price_btc\": \"0.00064906\", \n        \"24h_volume_usd\":
        \"511603.0\", \n        \"market_cap_usd\": \"5383920.0\", \n        \"available_supply\":
        \"1809800.0\", \n        \"total_supply\": \"1809800.0\", \n        \"percent_change_1h\":
        \"2.52\", \n        \"percent_change_24h\": \"-15.35\", \n        \"percent_change_7d\":
        \"30.71\", \n        \"last_updated\": \"1504083582\"\n    }\n]"
  recorded_at: Wed, 30 Aug 2017 08:59:45 GMT
recorded_with: VCR 3.0.3
