---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/unspent?active=13H8HWUgyaeMXJoDnKeUFMcXLJbCQ7s7V5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - c84f 0.015
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: "\n\n{\n    \n    \"unspent_outputs\":[\n    \n        {\n            \"tx_hash\":\"2dc3bc13866c0324e17ad757b0d53ef690ba0107bcfac865891cc9dd2499f5e1\",\n
        \           \"tx_hash_big_endian\":\"e1f59924ddc91c8965c8fabc0701ba90f63ed5b057d77ae124036c8613bcc32d\",\n
        \           \"tx_index\":240453788,\n            \"tx_output_n\": 2,\n            \"script\":\"76a91418fcfce40a7bf9ca5b0f7299730698a9e086b31f88ac\",\n
        \           \"value\": 2167,\n            \"value_hex\": \"0877\",\n            \"confirmations\":51689\n
        \       }\n      \n    ]\n}\n"
  recorded_at: Mon, 12 Mar 2018 08:19:06 GMT
recorded_with: VCR 3.0.3
