---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/address/1EscrowubAdwjYvRtpYLR2p6JRndNmjef3?format=json&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - k6cz 0.021
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "hash160":"982c5ddef5bb0addf05e3c336004495d95446b06",
            "address":"1EscrowubAdwjYvRtpYLR2p6JRndNmjef3",
            "n_tx":2,
            "total_received":2000000,
            "total_sent":0,
            "final_balance":2000000,
            "txs":[

        {
           "ver":1,
           "inputs":[
              {
                 "sequence":4294967295,
                 "witness":"",
                 "prev_out":{
                    "spent":true,
                    "tx_index":22459898,
                    "type":0,
                    "addr":"1Kj1tYmWs5YGJRnTMuBpbH7EgMstNUxqZ1",
                    "value":20800000,
                    "n":2,
                    "script":"76a914cd6479f52dda783c1d984f6d254f8d43ad720e3288ac"
                 },
                 "script":"4730440220372bfa10d6e5add3a768b69341d1bc6665c4456f284d99e085b5a4e8934cb1720220475c75e7974dcb9300191b5d69412335cd6ed641a259e7dac5dc73c77231eb87014104af2343974a75464ef22e3e8224388c363ebec65357c5ed4b27cd9716aeddc0bcd6d7301740f89c65513dc7f03fe75cb376ca9d9828922671cb8ec927497bee24"
              }
           ],
           "weight":1164,
           "block_height":238838,
           "relayed_by":"127.0.0.1",
           "out":[
              {
                 "spent":false,
                 "tx_index":22460376,
                 "type":0,
                 "addr":"1EscrowubAdwjYvRtpYLR2p6JRndNmjef3",
                 "value":1000000,
                 "n":0,
                 "script":"76a914982c5ddef5bb0addf05e3c336004495d95446b0688ac"
              },
              {
                 "addr_tag_link":"http:\/\/strongcoin.com",
                 "addr_tag":"Strongcoin",
                 "spent":true,
                 "tx_index":22460376,
                 "type":0,
                 "addr":"1STRonGxnFTeJiA7pgyneKknR29AwBM77",
                 "value":250000,
                 "n":1,
                 "script":"76a91404d075b3f501deeef5565143282b6cfe8fad5e9488ac"
              },
              {
                 "spent":true,
                 "tx_index":22460376,
                 "type":0,
                 "addr":"1Kj1tYmWs5YGJRnTMuBpbH7EgMstNUxqZ1",
                 "value":19300000,
                 "n":2,
                 "script":"76a914cd6479f52dda783c1d984f6d254f8d43ad720e3288ac"
              }
           ],
           "lock_time":0,
           "result":0,
           "size":291,
           "time":1369990895,
           "tx_index":22460376,
           "vin_sz":1,
           "hash":"2009d4382d593d08842ad40bdf515446c4cd57c3e79489fb286a4c95c580e2a5",
           "vout_sz":3
        },

        {
           "ver":1,
           "inputs":[
              {
                 "sequence":4294967295,
                 "witness":"",
                 "prev_out":{
                    "spent":true,
                    "tx_index":20959683,
                    "type":0,
                    "addr":"1Kj1tYmWs5YGJRnTMuBpbH7EgMstNUxqZ1",
                    "value":22300000,
                    "n":2,
                    "script":"76a914cd6479f52dda783c1d984f6d254f8d43ad720e3288ac"
[...]
