---
http_interactions:
- request:
    method: get
    uri: https://zcash.blockexplorer.com/api/addr/t1PBnMCVWU9GDTLpW8YTqo71MZPWRkmKidQ/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10799'
      Etag:
      - W/"116-Aa/6w818BGPPkfYeRHgi6A6i/mI"
    body:
      encoding: ASCII-8BIT
      string: '[{"address":"t1PBnMCVWU9GDTLpW8YTqo71MZPWRkmKidQ","txid":"09a2e03c54dbf66fca7bc7c35b0e7b0ff7692a620ab40e9da0fb89d2b1c193f2","vout":1,"scriptPubKey":"76a9143a48bfebcdc52c7b3831eab75a1955e58744c7e388ac","amount":0.03592901,"satoshis":3592901,"height":352862,"confirmations":7338}]'
  recorded_at: Wed, 18 Jul 2018 05:04:51 GMT
recorded_with: VCR 3.0.3
