---
http_interactions:
- request:
    method: get
    uri: https://zcash.blockexplorer.com/api/addr/t1WnesYVsCCh96VorkF3oLaCyiyniNoPdhZ/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10799'
      Etag:
      - W/"114-YJMoiZAu0wKw7qhFinUtttxOsxE"
    body:
      encoding: ASCII-8BIT
      string: '[{"address":"t1WnesYVsCCh96VorkF3oLaCyiyniNoPdhZ","txid":"6fe04562308f149b26d55ea249dd6fd55b99d96304f3baebe11c477f186ee838","vout":1,"scriptPubKey":"76a9148da9f29035effc39e4e8f37e82cb8e27fd7ae61c88ac","amount":0.03526091,"satoshis":3526091,"height":351764,"confirmations":51}]'
  recorded_at: Tue, 03 Jul 2018 13:45:27 GMT
recorded_with: VCR 3.0.3
