---
http_interactions:
- request:
    method: post
    uri: https://api.changelly.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"generateAddress","params":{"from":"btc","to":"eth","address":"0x891f0139e4cb8afbf5847ba6260a4214c64c3658","extraId":null},"id":1}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - 04720e618ebf4b60a95905fe017c833a
      Sign:
      - 20c279a2dd9778ca1f00b77eb0efef553ad94e7c8950093f58604219b0f4340ff4ed01a47e05b94f6c789201e1e7a6d779cf4b7e57d27f778ad044e37361c8f9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","id":1,"result":{"address":"1JG6An5cbYbS9cJUbRL7xFPJB1LuP647oV","extraId":null}}'
  recorded_at: Mon, 04 Dec 2017 11:20:12 GMT
- request:
    method: post
    uri: https://api.changelly.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"getTransactions","params":{"limit":100},"id":1}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - 04720e618ebf4b60a95905fe017c833a
      Sign:
      - e08dde744d335e9fbb70122af2287b06a81b7a17beb370561ab7663aa90ed8de587372b8e62b2767ed02ebd3e36c21933884e8bc4fd4229084c3f0821a66845f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","id":1,"result":[{"id":"7a7e5f736aa2","createdAt":1505396465,"payinConfirmations":"0","status":"overdue","currencyFrom":"btc","currencyTo":"eth","payinAddress":"1JG6An5cbYbS9cJUbRL7xFPJB1LuP647oV","payinExtraId":null,"payinHash":null,"payoutAddress":"0x891f0139e4cb8afbf5847ba6260a4214c64c3658","payoutExtraId":null,"payoutHash":null,"amountFrom":"","amountTo":"0","networkFee":null,"changellyFee":"0.5","apiExtraFee":"0"},{"id":"b4a84e269708","createdAt":1505394208,"payinConfirmations":"0","status":"overdue","currencyFrom":"btc","currencyTo":"eth","payinAddress":"1GJ57rhRD8oS9qD5FGeejbqNB91v6Lq3pf","payinExtraId":null,"payinHash":null,"payoutAddress":"0x49f79352100bd92eb2ba3daa30852f03abdd8315","payoutExtraId":null,"payoutHash":null,"amountFrom":"","amountTo":"0","networkFee":null,"changellyFee":"0.5","apiExtraFee":"0"}]}'
  recorded_at: Mon, 04 Dec 2017 11:20:12 GMT
recorded_with: VCR 3.0.3
