---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/litecoin/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"litecoin\", \n        \"name\": \"Litecoin\",
        \n        \"symbol\": \"LTC\", \n        \"rank\": \"5\", \n        \"price_usd\":
        \"227.107\", \n        \"price_btc\": \"0.0236156\", \n        \"24h_volume_usd\":
        \"1283850000.0\", \n        \"market_cap_usd\": \"12577971031.0\", \n        \"available_supply\":
        \"55383458.0\", \n        \"total_supply\": \"55383458.0\", \n        \"max_supply\":
        \"84000000.0\", \n        \"percent_change_1h\": \"-1.47\", \n        \"percent_change_24h\":
        \"9.25\", \n        \"percent_change_7d\": \"3.14\", \n        \"last_updated\":
        \"1519624741\"\n    }\n]"
  recorded_at: Mon, 26 Feb 2018 06:03:48 GMT
recorded_with: VCR 3.0.3
