---
http_interactions:
- request:
    method: get
    uri: https://api.fixer.io/latest?base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 19 Feb 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2018-02-19","rates":{"AUD":1.2632,"BGN":1.576,"BRL":3.2334,"CAD":1.2564,"CHF":0.92772,"CNY":6.3444,"CZK":20.409,"DKK":6.0016,"EUR":0.8058,"GBP":0.71386,"HKD":7.8223,"HRK":5.994,"HUF":250.73,"IDR":13553.0,"ILS":3.5192,"INR":64.253,"ISK":100.48,"JPY":106.56,"KRW":1066.9,"MXN":18.544,"MYR":3.8905,"NOK":7.782,"NZD":1.3554,"PHP":52.458,"PLN":3.3409,"RON":3.7561,"RUB":56.463,"SEK":7.9899,"SGD":1.3131,"THB":31.38,"TRY":3.753,"ZAR":11.653}}'
  recorded_at: Tue, 20 Feb 2018 14:33:15 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/bitcoin/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"11630.3\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"9055520000.0\", \n        \"market_cap_usd\": \"196271628576\", \n        \"available_supply\":
        \"16875887.0\", \n        \"total_supply\": \"16875887.0\", \n        \"max_supply\":
        \"21000000.0\", \n        \"percent_change_1h\": \"0.17\", \n        \"percent_change_24h\":
        \"5.27\", \n        \"percent_change_7d\": \"35.09\", \n        \"last_updated\":
        \"1519136968\"\n    }\n]"
  recorded_at: Tue, 20 Feb 2018 14:33:15 GMT
- request:
    method: get
    uri: https://api.fixer.io/latest?base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 19 Feb 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2018-02-19","rates":{"AUD":1.2632,"BGN":1.576,"BRL":3.2334,"CAD":1.2564,"CHF":0.92772,"CNY":6.3444,"CZK":20.409,"DKK":6.0016,"EUR":0.8058,"GBP":0.71386,"HKD":7.8223,"HRK":5.994,"HUF":250.73,"IDR":13553.0,"ILS":3.5192,"INR":64.253,"ISK":100.48,"JPY":106.56,"KRW":1066.9,"MXN":18.544,"MYR":3.8905,"NOK":7.782,"NZD":1.3554,"PHP":52.458,"PLN":3.3409,"RON":3.7561,"RUB":56.463,"SEK":7.9899,"SGD":1.3131,"THB":31.38,"TRY":3.753,"ZAR":11.653}}'
  recorded_at: Tue, 20 Feb 2018 14:33:16 GMT
recorded_with: VCR 3.0.3
