---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/zclassic/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"zclassic\", \n        \"name\": \"ZClassic\",
        \n        \"symbol\": \"ZCL\", \n        \"rank\": \"41\", \n        \"price_usd\":
        \"178.452\", \n        \"price_btc\": \"0.0154848\", \n        \"24h_volume_usd\":
        \"22119600.0\", \n        \"market_cap_usd\": \"597994883.0\", \n        \"available_supply\":
        \"3351013.0\", \n        \"total_supply\": \"3351013.0\", \n        \"max_supply\":
        \"21000000.0\", \n        \"percent_change_1h\": \"-0.41\", \n        \"percent_change_24h\":
        \"-9.33\", \n        \"percent_change_7d\": \"37.6\", \n        \"last_updated\":
        \"1519136948\"\n    }\n]"
  recorded_at: Tue, 20 Feb 2018 14:33:16 GMT
recorded_with: VCR 3.0.3
