---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/zcash/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"zcash\", \n        \"name\": \"Zcash\",
        \n        \"symbol\": \"ZEC\", \n        \"rank\": \"23\", \n        \"price_usd\":
        \"463.633\", \n        \"price_btc\": \"0.0401387\", \n        \"24h_volume_usd\":
        \"90811900.0\", \n        \"market_cap_usd\": \"1539409343.0\", \n        \"available_supply\":
        \"3320319.0\", \n        \"total_supply\": \"3320319.0\", \n        \"max_supply\":
        null, \n        \"percent_change_1h\": \"-0.96\", \n        \"percent_change_24h\":
        \"-3.62\", \n        \"percent_change_7d\": \"3.97\", \n        \"last_updated\":
        \"1519137548\"\n    }\n]"
  recorded_at: Tue, 20 Feb 2018 14:41:43 GMT
recorded_with: VCR 3.0.3
