---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/ethereum/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"ethereum\", \n        \"name\": \"Ethereum\",
        \n        \"symbol\": \"ETH\", \n        \"rank\": \"2\", \n        \"price_usd\":
        \"948.511\", \n        \"price_btc\": \"0.0823052\", \n        \"24h_volume_usd\":
        \"2351720000.0\", \n        \"market_cap_usd\": \"92701243855.0\", \n        \"available_supply\":
        \"97733441.0\", \n        \"total_supply\": \"97733441.0\", \n        \"max_supply\":
        null, \n        \"percent_change_1h\": \"-0.02\", \n        \"percent_change_24h\":
        \"-0.16\", \n        \"percent_change_7d\": \"12.54\", \n        \"last_updated\":
        \"1519136952\"\n    }\n]"
  recorded_at: Tue, 20 Feb 2018 14:33:16 GMT
recorded_with: VCR 3.0.3
