---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/bitcoin/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"bitcoin\", \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"rank\": \"1\", \n        \"price_usd\":
        \"11459.6\", \n        \"price_btc\": \"1.0\", \n        \"24h_volume_usd\":
        \"7074190000.0\", \n        \"market_cap_usd\": \"191594622365\", \n        \"available_supply\":
        \"16719137.0\", \n        \"total_supply\": \"16719137.0\", \n        \"max_supply\":
        \"21000000.0\", \n        \"percent_change_1h\": \"-0.07\", \n        \"percent_change_24h\":
        \"0.43\", \n        \"percent_change_7d\": \"18.33\", \n        \"last_updated\":
        \"1512386352\"\n    }\n]"
  recorded_at: Mon, 04 Dec 2017 11:20:11 GMT
- request:
    method: get
    uri: http://www.google.com/finance/converter?a=1&from=USD&to=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '<html><head><meta http-equiv="content-type" content="text/html; charset=utf-8"/><title>Sorry...</title><style>
        body { font-family: verdana, arial, sans-serif; background-color: #fff; color:
        #000; }</style></head><body><div><table><tr><td><b><font face=sans-serif size=10><font
        color=#4285f4>G</font><font color=#ea4335>o</font><font color=#fbbc05>o</font><font
        color=#4285f4>g</font><font color=#34a853>l</font><font color=#ea4335>e</font></font></b></td><td
        style="text-align: left; vertical-align: bottom; padding-bottom: 15px; width:
        50%"><div style="border-bottom: 1px solid #dfdfdf;">Sorry...</div></td></tr></table></div><div
        style="margin-left: 4em;"><h1>We''re sorry...</h1><p>... but your computer
        or network may be sending automated queries. To protect our users, we can''t
        process your request right now.</p></div><div style="margin-left: 4em;">See
        <a href="https://support.google.com/websearch/answer/86640">Google Help</a>
        for more information.<br/><br/></div><div style="text-align: center; border-top:
        1px solid #dfdfdf;"><a href="https://www.google.com">Google Home</a></div></body></html>'
  recorded_at: Mon, 04 Dec 2017 11:20:11 GMT
- request:
    method: get
    uri: http://www.google.com/finance/converter?a=1&from=USD&to=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '<html><head><meta http-equiv="content-type" content="text/html; charset=utf-8"/><title>Sorry...</title><style>
        body { font-family: verdana, arial, sans-s[...]
