---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/ethereum/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"ethereum\", \n        \"name\": \"Ethereum\",
        \n        \"symbol\": \"ETH\", \n        \"rank\": \"2\", \n        \"price_usd\":
        \"466.994\", \n        \"price_btc\": \"0.0411311\", \n        \"24h_volume_usd\":
        \"1065270000.0\", \n        \"market_cap_usd\": \"44890569928.0\", \n        \"available_supply\":
        \"96126652.0\", \n        \"total_supply\": \"96126652.0\", \n        \"max_supply\":
        null, \n        \"percent_change_1h\": \"0.03\", \n        \"percent_change_24h\":
        \"-1.76\", \n        \"percent_change_7d\": \"-3.16\", \n        \"last_updated\":
        \"1512386360\"\n    }\n]"
  recorded_at: Mon, 04 Dec 2017 11:20:12 GMT
recorded_with: VCR 3.0.3
