---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/zclassic/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"zclassic\", \n        \"name\": \"ZClassic\",
        \n        \"symbol\": \"ZCL\", \n        \"rank\": \"393\", \n        \"price_usd\":
        \"2.17645\", \n        \"price_btc\": \"0.00019169\", \n        \"24h_volume_usd\":
        \"135206.0\", \n        \"market_cap_usd\": \"3938939.0\", \n        \"available_supply\":
        \"1809800.0\", \n        \"total_supply\": \"1809800.0\", \n        \"max_supply\":
        null, \n        \"percent_change_1h\": \"0.18\", \n        \"percent_change_24h\":
        \"1.9\", \n        \"percent_change_7d\": \"10.71\", \n        \"last_updated\":
        \"1512386358\"\n    }\n]"
  recorded_at: Mon, 04 Dec 2017 11:20:12 GMT
recorded_with: VCR 3.0.3
