---
http_interactions:
- request:
    method: get
    uri: https://blockchain.info/unspent?active=1HMTY59ZaVB9L4rh7PjMjEca2fiT1TucGH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
      X-Blockchain-Ms:
      - 'true'
      X-Blockchain-Cp-F:
      - tr45 0.037
      X-Blockchain-Server:
      - BlockchainFE/1.0
    body:
      encoding: ASCII-8BIT
      string: "\n\n{\n    \n    \"unspent_outputs\":[\n    \n        {\n            \"tx_hash\":\"b5fe9398adb1311d11527e26d53a791b04118d90ca21f70aba2301dae49bb76a\",\n
        \           \"tx_hash_big_endian\":\"6ab79be4da0123ba0af721ca908d11041b793ad5267e52111d31b1ad9893feb5\",\n
        \           \"tx_index\":127938812,\n            \"tx_output_n\": 2,\n            \"script\":\"76a914b3607b90aa91452f234d85ec2809d0037e71f38788ac\",\n
        \           \"value\": 49999,\n            \"value_hex\": \"00c34f\",\n            \"confirmations\":99826\n
        \       },\n      \n        {\n            \"tx_hash\":\"bb60e28f117cc4ac46ca0c81aa961ca3c7934f00ccef3bba55546f2bb37209df\",\n
        \           \"tx_hash_big_endian\":\"df0972b32b6f5455ba3befcc004f93c7a31c96aa810cca46acc47c118fe260bb\",\n
        \           \"tx_index\":128386318,\n            \"tx_output_n\": 2,\n            \"script\":\"76a914b3607b90aa91452f234d85ec2809d0037e71f38788ac\",\n
        \           \"value\": 1000000,\n            \"value_hex\": \"0f4240\",\n
        \           \"confirmations\":99465\n        }\n      \n    ]\n}\n"
  recorded_at: Mon, 04 Dec 2017 11:20:23 GMT
recorded_with: VCR 3.0.3
