---
http_interactions:
- request:
    method: get
    uri: https://www.etherchain.org/api/account/0x58382493d401d91af0c6a375af9e949d6e106448
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e0-xzf13q2Wu2A3OOdeFioe+RJSORs"
    body:
      encoding: ASCII-8BIT
      string: '{"address":"58382493d401d91af0c6a375af9e949d6e106448","balance":"543602000000000","name":null,"firstseen":"2017-09-06T15:12:03.000Z","createdby":"","lastseen":"2017-12-04T18:28:38.000Z","blocksmined":0,"unclesmined":0,"nameverified":null}'
  recorded_at: Tue, 20 Feb 2018 13:57:12 GMT
recorded_with: VCR 3.0.3
