---
http_interactions:
- request:
    method: get
    uri: https://www.etherchain.org/api/account/0x58382493d401d91af0c6a375af9e949d6e106448
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"151-eiGFzEA4G1Au9T/FJnk9vv/R87A"
    body:
      encoding: ASCII-8BIT
      string: '{"address":"58382493d401d91af0c6a375af9e949d6e106448","balance":"0","nonce":null,"code":"","creationbytecode":"","creationbytecodehash":"","constructorargs":"","name":null,"firstseen":"2017-09-06T15:12:03.000Z","createdby":"","swarmhash":"","lastseen":"2017-12-04T18:28:38.000Z","blocksmined":0,"unclesmined":0,"txsent":4,"txreceived":1}'
  recorded_at: Thu, 05 Jul 2018 08:50:58 GMT
recorded_with: VCR 3.0.3
