---
http_interactions:
- request:
    method: get
    uri: https://api.blockcypher.com/v1/eth/main/addrs/0x58382493d401d91af0c6a375af9e949d6e106448/balance?token=b85f0e6d0f944803854e91becc60340e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '154'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "address": "58382493d401d91af0c6a375af9e949d6e106448",
          "total_received": 12696260000000000,
          "total_sent": 12696260000000000,
          "balance": 0,
          "unconfirmed_balance": 0,
          "final_balance": 0,
          "n_tx": 5,
          "unconfirmed_n_tx": 0,
          "final_n_tx": 5,
          "nonce": 4,
          "pool_nonce": 4
        }
  recorded_at: Fri, 02 Mar 2018 11:41:32 GMT
recorded_with: VCR 3.0.3
