---
http_interactions:
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/mpcNL8t6JeAA33wriaUSncZHZo9XdWBs38/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10799'
      Etag:
      - W/"226-Q4h0OrT7b6N8uenHIk3Z/A"
    body:
      encoding: ASCII-8BIT
      string: '[{"address":"mpcNL8t6JeAA33wriaUSncZHZo9XdWBs38","txid":"56226a5fd771f9a42080babe71cfe6ce41d57292e7eaf6204b54bb6819ae7e13","vout":68,"scriptPubKey":"76a91463bf46a9d042006ac36b368133d01026a3d18e7888ac","amount":8.39208038,"satoshis":839208038,"height":1254189,"confirmations":46},{"address":"mpcNL8t6JeAA33wriaUSncZHZo9XdWBs38","txid":"d98c5e0c5ba09f2281d5f653154af23eeee1db77579ddf8adcafa536534a79fe","vout":0,"scriptPubKey":"76a91463bf46a9d042006ac36b368133d01026a3d18e7888ac","amount":1.3,"satoshis":130000000,"height":1253962,"confirmations":273}]'
  recorded_at: Fri, 08 Dec 2017 20:07:20 GMT
recorded_with: VCR 3.0.3
