---
http_interactions:
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2MxARaew1a1XbKKoEXzETaRqhJFvn3JYPBL/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10797'
      Etag:
      - W/"10f-lSXzqe8RMW1MupxOeQMhUw"
    body:
      encoding: ASCII-8BIT
      string: '[{"address":"2MxARaew1a1XbKKoEXzETaRqhJFvn3JYPBL","txid":"19aced60b72e136d6abf12836e7efbd5da2ac1281871d7a26fae5954c99286c6","vout":1,"scriptPubKey":"a91435f039e361b6dcc054b7dcfb8dcb9283a1c1636587","amount":0.0089,"satoshis":890000,"height":866408,"confirmations":386848}]'
  recorded_at: Mon, 04 Dec 2017 11:20:18 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2NC1CFifgXNJ7TbTW3bEARhn6UeaLf1wscT/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10796'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:18 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2N7U7CjdGSNbafWQw7pRUJMn2Tv5XW6rUdt/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10795'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:18 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2NDqwDbuBaVSJBVXJNhxp7BVbyobeLUSmmy/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10794'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:19 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2MwfxrdanpPJRPTgsX5BM3DqDMR2k3e1yff/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10793'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:19 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2NDAaxHue77CtbnidT47PfMPE8cRuvkHTnK/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10792'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:19 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2NCsqGxriiYr2wLE1RjWpHzMAwo6HyDuahD/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10791'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:19 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2N9DhiSwpZe5h9ST2gHFf6ourMFFUMLAyU6/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10790'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:20 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2MzFiohCKuKCybgxPjHWCTLWNkg9Je1dqjw/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10789'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:20 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2NAEFoup2hSW13r9XAxxwvRJMEU9bHTdLZT/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10788'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:20 GMT
- request:
    method: get
    uri: https://testnet.blockexplorer.com/api/addr/2MuRVP3kb6d6J81D52k7xKGjd5WjBsF8U8W/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10787'
      Etag:
      - W/"2-11FxOYiYfpMxmANj4kGJzg"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 04 Dec 2017 11:20:20 GMT
recorded_with: VCR 3.0.3
