---
http_interactions:
- request:
    method: get
    uri: https://explorer.bitcoingold.org/insight-api/addr/GWViUY2b3HAYWY9BbeGeFjc6rKdrBffzHa/utxo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10800'
      X-Ratelimit-Remaining:
      - '10799'
      Etag:
      - W/"116-Fdb5gAJ6h1qUX9KgIHhpVwCUnuQ"
    body:
      encoding: ASCII-8BIT
      string: '[{"address":"GWViUY2b3HAYWY9BbeGeFjc6rKdrBffzHa","txid":"5759c39e49cc831ea5e12342e03d83a52de70dde4281ebce286c66bf3706a253","vout":0,"scriptPubKey":"76a9148ac7591107aec68c282488cd74096014108844dd88ac","amount":12.37761638,"satoshis":1237761638,"height":515832,"confirmations":1}]'
  recorded_at: Mon, 26 Feb 2018 12:12:20 GMT
recorded_with: VCR 3.0.3
